.conteiner-form{
    background-color: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 8px;
    width: 329px;
    height: 291px;
    display: flex;
    padding: 20px;
    margin-right: 5%;
    margin-top: 40px;
}

.form{
    display: flex;
    flex-direction: column;
}

.label-description{
    margin: 15px 0px;
    text-align: left;
    color: #212529;
    font-weight: 400;
}

.form .input-description{
    width: 306px;
    height: 50px;
    padding-left: 20px;
    font-size: 1rem;
    background-color: #F8F9FA;
    border: none;
    
}

.input-description::placeholder{
    color: #868E96;
}

.form span{
    color: #868E96;
    font-size: 16px;
    font-weight: 400;
    text-align: left;    
    margin-bottom: 20px;
}

.form button{
    width: 327px;
    border: none;
    background-color: #FD377E;
    border-radius: 8px;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.form button:hover{
    transition: all 0.6s;
    background-color: #E34981;
}

.conteiner-input-type{
    display: flex;
}

.div-input{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    
    margin-bottom: 20px;
}

.div-input input{
    margin-top: 10px;
    height: 50px;
    padding-left: 20px;
    font-size: 1rem;
    background-color: #F8F9FA;
    border: none;
    width: 80px;
    margin-right: 10px;
    background: url("../../assets/R$.png") no-repeat 70px;
}

.div-input input::placeholder{
    color: #868E96;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

.div-input select{
    margin-top: 10px;
    height: 50px;
    width: 160px;
    padding: 10px;
    font-size: 1rem;
    background-color: #F8F9FA;
    border: none;
    color: #343A40;
    font-weight: 400;
    font-size: 16px;
    background: url("../../assets/ANGLE-DOWN.png") no-repeat 145px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 4px;
    text-overflow: '';
}

.select{
    margin-left: 58px;
}



.select-init{
    color: #868E96;
}


@media only screen and (max-width: 430px) {  
    

    .conteiner-form {
        width: 261px;
        height: 291px;
        margin-right: 0%;
        margin-top: 0px;
    }


    .form .input-description {
        width: 253px;
    }
    

    .select {
        margin-left: 0px;
    }

    .conteiner-input-type {
        width: 273px;
    }

    

    .form button {
        width: 270px;
    }
}