.conteiner-resume{
    display: flex;
    margin-left: 20px;
    padding: 20px;
    justify-content: space-between;
}

.conteiner-resume p{
    font-size: 16px;
    font-weight: 700;
    color: #212529;
}

.conteiner-filter{
    display: flex;
    align-items: center;
}

.conteiner-filter button{
    padding: 15px;
    color: white;
    background-color: #FD377E;
    border: none;
    font-size: 1rem;
    margin-left: 20px;
    border-radius: 16px;
}

.conteiner-filter button:hover{
    filter: brightness(0.9);
    transition: all 0.5s;
}

.conteiner-itens{
    list-style: none;
}

.noItem{
    text-align: left;
    margin-left: 10px;
    color: #343A40;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.img-noitem{
    width: 80%;
}

.item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #F8F9FA;
    border-top-left-radius: 16px;
    height: 80px;
    padding: 10px;
    border: 1px solid #E9ECEF;
    align-items: center;
    margin-bottom: 10px;
}

.conteiner-description{
    text-align: left;
}

.conteiner-description p{
    font-weight: 400;
    font-size: 12px;
    color: #343A40;
}

.conteiner-description .description{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #212529;
}

.item p{
    color: #212529;
    font-weight: 400;
    font-size: 14px;
}

.item button{
    background-color: #E9ECEF;
    width: 28px;
    height: 28px;
    margin-right: 40px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item button:hover{
    transition: all 0.5s;
    background-color: #21252948;
}

.item button img{
    width: 18px;
    height: 18px;
}

@media only screen and (max-width: 1000px) {  
    .conteiner-resume {
        padding: 36px;
    }
}

@media only screen and (max-width: 540px) {
    .conteiner-itens{
        width: 87vw;
    }
    .item{
        width: 80vw;
        padding: 0;
    }
    .conteiner-filter button{
        padding: 10px;
        color: white;
        background-color: #FD377E;
        border: none;
        font-size: 0.8rem;
        margin-left: 2px;
        border-radius: 16px;
    }
    .img-noitem{
        width: 80vw;
    }
    
    .conteiner-resume{
        margin-left: 0px;
        padding: 0px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
  }

  

